name: ci

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
  pull_request:

permissions:
  contents: read
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'

      - name: Install dependencies
        run: npm install --ignore-scripts --include=dev

      - name: Run lint
        run: npm run lint
  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        name:
        - Node.js 10.x
        - Node.js 11.x
        - Node.js 12.x
        - Node.js 13.x
        - Node.js 14.x
        - Node.js 15.x
        - Node.js 16.x
        - Node.js 17.x
        - Node.js 18.x
        - Node.js 19.x
        - Node.js 20.x
        - Node.js 21.x
        - Node.js 22.x
        - Node.js 23.x
        - Node.js 24.x

        include:
        - name: Node.js 10.x
          node-version: "10.16.0"
          npm-i: mocha@8.4.0
          
        - name: Node.js 11.x
          node-version: "11.15"
          npm-i: mocha@8.4.0
          
        - name: Node.js 12.x
          node-version: "12.0.0"
          npm-i: mocha@9.2.2
          
        - name: Node.js 13.x
          node-version: "13.14"
          npm-i: mocha@9.2.2
          
        - name: Node.js 14.x
          node-version: "14.0.0"
          npm-i: mocha@9.2.2
          
        - name: Node.js 15.x
          node-version: "15.0.0"
          npm-i: mocha@9.2.2
          
        - name: Node.js 16.x
          node-version: "16.0.0"
          
        - name: Node.js 17.x
          node-version: "17.0.0"
          
        - name: Node.js 18.x
          node-version: "18.0.0"
          
        - name: Node.js 19.x
          node-version: "19.0.0"
          
        - name: Node.js 20.x
          node-version: "20.0.0"
          
        - name: Node.js 21.x
          node-version: "21"
          
        - name: Node.js 22.x
          node-version: "22"

        - name: Node.js 23.x
          node-version: "23"

        - name: Node.js 24.x
          node-version: "24"

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - name: Setup Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
    - name: Remove npm module(s) ${{ matrix.npm-rm }}
      run: npm rm --silent --save-dev ${{ matrix.npm-rm }}
      if: matrix.npm-rm != ''

    - name: Install npm module(s) ${{ matrix.npm-i }}
      run: npm install --save-dev ${{ matrix.npm-i }}
      if: matrix.npm-i != ''

    - name: Install Node.js dependencies
      run: npm install

    - name: Run tests
      shell: bash
      run: npm run test-ci

    - name: Upload code coverage
      uses: actions/upload-artifact@v4
      with:
        name: coverage-node-${{ matrix.node-version }}-${{ matrix.os }}
        path: ./coverage/lcov.info
        retention-days: 1

  coverage:
      needs: test
      runs-on: ubuntu-latest
      permissions:
        contents: read
        checks: write
      steps:
        - uses: actions/checkout@v4
  
        - name: Install lcov
          shell: bash
          run: sudo apt-get -y install lcov
  
        - name: Collect coverage reports
          uses: actions/download-artifact@v4
          with:
            path: ./coverage
            pattern: coverage-node-*
  
        - name: Merge coverage reports
          shell: bash
          run: find ./coverage -name lcov.info -exec printf '-a %q\n' {} \; | xargs lcov -o ./lcov.info
  
        - name: Upload coverage report
          uses: coverallsapp/github-action@v2
          with:
            file: ./lcov.info
